# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.env/
venv/
ENV/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Temp Files
*.tmp
*.temp
*.log

# Logs
*.log

# Docker
Dockerfile
docker-compose.yml

# Node
node_modules/
*.npm
npm-debug.log
